<section class="section our-goal ptb_100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-6">
                <!-- Goal Content -->
                <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0">
                    <h2 class="mb-3">Right Partner for Software Innovation</h2>
                    <p>DEO TECHNOLOGIES LIMITED is a full custom services firm. In achieving that, it’s our business to quickly adapt to meet our clients’ diverse needs… and we have a proven track record of doing just that.</p><br>
                    <!-- <a href="#" class="btn btn-bordered mt-4">Read More</a> -->
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Goal Thumb -->
                <div class="goal-thumb mt-5 mt-lg-0">
                    <img src="assets/img/about_thumb_2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
