<section class="section cta-area bg-overlay ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <!-- Section Heading -->
                <div class="section-heading text-center m-0">
                    <h2 class="text-white">Looking for the best digital agency &amp; marketing solution?</h2>
                    <p class="text-white d-none d-sm-block mt-4">Deotechnolies is here to help you find all that you're looking for with the services we render.</p>
                    <a routerLink="/contact-us" class="btn btn-bordered-white mt-4">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
