<section id="home" class="section welcome-area overflow-hidden d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-7">
                <div class="welcome-intro">
                  <h1 class="text-white">DEO TECHNOLOGIES</h1>
                  <p class="text-white my-4">IT Solutions , Digital Technology & Services All Around the World.</p>
                    <!-- Buttons -->
                    <div class="button-group">
                        <a href="#" class="btn btn-bordered">Get To Us</a>
                        <a href="#" class="btn btn-bordered d-none d-sm-inline-block">View Process</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
