<section class="section service-area ptb_150">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery m-0 overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a  ><img style="width: 400px; height: 260px" src="assets/img/itsolution.jpg" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>IT Solution</h3>
                        </a>
                     <!--  <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores laudantium ab praesentium officiis nam facilis repellendus blanditiis cupiditate eaque. Nisi cupiditate laudantium, provident nesciunt nam inventore eum assumenda placeat harum?.</p>
                          <a class="service-btn" href="#">Learn More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery m-0 overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a href="#"><img style="width: 400px; height: 260px" src="assets/img/cloud.jfif" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>Cloud Services</h3>
                        </a>
                        <!-- <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                        <a class="service-btn" href="#">Learn More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery m-0 overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a href="#"><img style="width: 400px; height: 260px" src="assets/img/wdevelopment.jpg" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>Web Developement</h3>
                        </a>
                        <!-- <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                        <a class="service-btn" href="#">Learn More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <!-- Single Service -->
              <div class="single-service service-gallery m-0 overflow-hidden">
                  <!-- Service Thumb -->
                  <div class="service-thumb">
                      <a href="#"><img src="assets/img/business.jpg" alt=""></a>
                  </div>
                  <!-- Service Content -->
                  <div class="service-content bg-white">
                      <a href="#">
                          <h3>Business Reform</h3>
                      </a>
                      <!-- <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                      <a class="service-btn" href="#">Learn More</a> -->
                  </div>
              </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <!-- Single Service -->
            <div class="single-service service-gallery m-0 overflow-hidden">
                <!-- Service Thumb -->
                <div class="service-thumb">
                    <a href="#"><img src="assets/img/adevelopement.jpg" alt=""></a>
                </div>
                <!-- Service Content -->
                <div class="service-content bg-white">
                    <a href="#">
                        <h3>Cross Platform App Development</h3>
                    </a>
                    <!-- <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                    <a class="service-btn" href="#">Learn More</a> -->
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <!-- Single Service -->
          <div class="single-service service-gallery m-0 overflow-hidden">
              <!-- Service Thumb -->
              <div class="service-thumb">
                  <a href="#"><img src="assets/img/analysis.jpg" alt=""></a>
              </div>
              <!-- Service Content -->
              <div class="service-content bg-white">
                  <a href="#">
                      <h3>Data Analysis</h3>
                  </a>
                  <!-- <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                  <a class="service-btn" href="#">Learn More</a> -->
              </div>
          </div>
      </div>

        </div>
    </div>
</section>
