<section class="section about-area ptb_100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-6">
                <!-- About Thumb -->
                <div class="about-thumb text-center">
                    <img style="width: 525px; height: 515px;" src="assets/img/bgrowth3.jfif" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- About Content -->
                <div class="about-content section-heading text-center text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                    <h2 class="mb-3">Business Growth And Success Stories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis tenetur maxime labore recusandae enim dolore, nesciunt, porro molestias ullam eum atque harum! Consectetur, facilis maxime ratione fugiat laborum omnis atque quae, molestiae rem perspiciatis veritatis cumque ex minima, numquam quis dicta impedit possimus tempore? Quo sequi labore, explicabo sit vitae.</p><br>
                    <!-- Counter Area -->
                    <div class="couter-area mt-5">
                        <!-- Single Counter -->
                        <div class="single-counter d-block d-md-inline-block m-4 m-md-2">
                            <div class="counter-inner">
                                <!-- Counter Item -->
                                <div class="counter-item d-inline-block mb-3">
                                    <span class="counter color-1 fw-7">245</span><span class="color-1 fw-7">+</span>
                                </div>
                            </div>
                            <h4 class="text-uppercase fw-7">IT Consulting</h4>
                        </div>
                        <!-- Single Counter -->
                        <div class="single-counter d-block d-md-inline-block m-4 m-md-2">
                            <div class="counter-inner">
                                <!-- Counter Item -->
                                <div class="counter-item d-inline-block mb-3">
                                    <span class="counter color-2 fw-7">3550</span><span class="color-2 fw-7">+</span>
                                </div>
                            </div>
                            <h4 class="text-uppercase fw-7">Fully Launched</h4>
                        </div>
                        <!-- Single Counter -->
                        <div class="single-counter d-block d-md-inline-block m-4 m-md-2">
                            <div class="counter-inner">
                                <!-- Counter Item -->
                                <div class="counter-item d-inline-block mb-3">
                                    <span class="counter color-3 fw-7">6545</span><span class="color-3 fw-7">+</span>
                                </div>
                            </div>
                            <h4 class="text-uppercase fw-7">Project Completed</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
