<section class="section content-area ptb_150">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6">
        <!-- Profile Circle Wrapper -->
        <div class="profile-circle-wrapper circle-animation d-none d-sm-block">
          <!-- Profile Inner -->
          <div class="profile-inner">
            <!-- Profile Circle -->
            <div class="profile-circle circle-lg">
              <span class="profile-icon icon-1">
                <img
                  class="icon-1-img"
                  src="assets/img/profile_icon_1.svg"
                  alt=""
                />
              </span>
              <span class="profile-icon icon-2">
                <img
                  class="icon-2-img"
                  src="assets/img/profile_icon_2.svg"
                  alt=""
                />
              </span>
              <span class="profile-icon icon-3">
                <img
                  class="icon-3-img"
                  src="assets/img/profile_icon_1.svg"
                  alt=""
                />
              </span>
              <span class="profile-icon icon-4">
                <img
                  class="icon-4-img"
                  src="assets/img/profile_icon_2.svg"
                  alt=""
                />
              </span> -->
            </div>

            <!-- Profile Circle -->
            <div class="profile-circle circle-md">
              <span class="profile-icon icon-5">
                <img
                  class="icon-5-img"
                  src="assets/img/profile_icon_3.svg"
                  alt=""
                />
              </span>
              <span class="profile-icon icon-6">
                <img
                  class="icon-6-img"
                  src="assets/img/profile_icon_3.svg"
                  alt=""
                />
              </span>
              <span class="profile-icon icon-7">
                <img
                  class="icon-7-img"
                  src="assets/img/profile_icon_3.svg"
                  alt=""
                />
              </span>
            </div>

            <!-- Profile Circle -->
            <div class="profile-circle circle-sm">
              <span class="profile-icon icon-8">
                <img
                  class="icon-8-img"
                  src="assets/img/profile_icon_4.svg"
                  alt=""
                />
              </span>
              <span class="profile-icon icon-9">
                <img
                  class="icon-9-img"
                  src="assets/img/profile_icon_4.svg"
                  alt=""
                />
              </span>
            </div>
          </div>
          <img style="width: 480px; height: 173px;" class="folder-img" src="assets/img/bgrowth1.jpg" alt="" />
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <!-- Content Inner -->
        <div class="content-inner text-center pt-sm-4 pt-lg-0 mt-sm-5 mt-lg-0">
          <!-- Section Heading -->
          <div class="section-heading text-center mb-3">
            <h2>
              our working <br />
              process.
            </h2>
            <p class="d-none d-sm-block mt-4">
              How Our Services Will Help You to Grow Your Business.
            </p>
          </div>
          <!-- Content List -->
          <ul class="content-list text-left">
            <!-- Single Content List -->
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-2"
                  ><i class="fas fa-angle-double-right"></i
                ></span>
              </div>
              <div class="content-text media-body">
                <span
                  ><b>Discovery</b><br />We help facilitate and find ways to
                  increase business reach and suggest IT solutions for your
                  business.</span
                >
              </div>
            </li>
            <!-- Single Content List -->
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-2"
                  ><i class="fas fa-angle-double-right"></i
                ></span>
              </div>
              <div class="content-text media-body">
                <span
                  ><b>Planning</b><br />We help in making the right decisions to
                  achieve the required target and goal set out after the
                  discovery of solutions.</span
                >
              </div>
            </li>
            <!-- Single Content List -->
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-2"
                  ><i class="fas fa-angle-double-right"></i
                ></span>
              </div>
              <div class="content-text media-body">
                <span
                  ><b>Execute</b><br />We also help in turning that plan into
                  actions by building various solutions that can boost and
                  improve reach and productivity.</span
                >
              </div>
            </li>
            <!-- Single Content List -->
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-2"
                  ><i class="fas fa-angle-double-right"></i
                ></span>
              </div>
              <div class="content-text media-body">
                <span
                  ><b>Deliver</b><br />we design/develop, test and deploy software solutions. This also prepares solutions for the use of business clients.</span
                >
              </div>
            </li>
          </ul>
          <a href="#" class="btn btn-bordered mt-4">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
